* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .btn {} */
button {
    background-color: rgba(148, 148, 255, 0.356);
    font-family: 'Product Sans Medium';
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5em;
}

a {
    text-decoration: none;
}

input {
    min-width: 100%;
    margin: 1em 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(148, 148, 148, 0.884);
}

@media (width >= 720px) {
    body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vmin;
        }
    
        .login {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    
        img {
            align-self: self-start;
            margin-bottom: 2em;
        }
    
        .account-help p {
            margin: 10px 0;
        }
    
        .btn {
            display: flex;
            justify-content: end;
            min-width: 100%;
            margin-top: 0.5rem;
        }
}

@media (width <= 720px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vmin;
    }

    .login {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    img {
        align-self: self-start;
        margin-bottom: 2em;
    }

    .account-help p {
        margin: 10px 0;
    }

    .btn {
        display: flex;
        justify-content: end;
        min-width: 100%;
        margin-top: 0.5rem;
    }

}